.nestlogo{
    width: 100px;
    height: 50px;
}
.iblogo{
    width: 50px;
    height: 50px;
}
.Cambridgelogo{
    width: 170px;
    height: 60px;
}
.textorange{
    color: #E85D04;
}
.textbold{
    color: black;
    font-weight: 700;
}

#enquiryform {
  position: relative;
  z-index: 2;
}

#enquiryIcon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff; /* Bootstrap secondary */
  color: white;
  padding: 12px 16px;
  border-radius: 50%;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: background-color 0.3s ease;
}

#enquiryIcon:hover {
  background-color: #007bff;
}
.txtclr{
  color: #0b3954;
}
.bgtransition{
  border-radius: 10px;
  padding: 20px;
    transition: background-color 0.4s ease;
}
.bgtrans5:hover{
 background-color: #60d3945e;
}
.bgtrans1:hover{
 background-color: #ef233b56;
}.bgtrans2:hover{
 background-color: #ca541062 ;
}.bgtrans3:hover{
 background-color: #c4d86d6f;
}.bgtrans4:hover{
 background-color: #c0849774;
}.bgtrans6:hover{
 background-color: #84dcc668;
}.bgtrans7:hover{
 background-color: #4ba3c369;
}.bgtrans8:hover{
 background-color: #ff4d6e7c;
}
#enquiryform {
  touch-action: pan-y;
  overscroll-behavior: contain;
}
.styleheaderbg{
  background-image: url("../../images/view4.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 768px) {
  .fontstyle {
    font-size: 1.5rem !important;
  }
}